<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
	<add name="MongoTkt" connectionString="mongodb://mongotkt:mongotkt#913@DBA-MONGO:27017/DBA_TKT?authMechanism=SCRAM-SHA-1" providerName="System.Data.SqlClient" />
	<add name="ERP" connectionString="Data Source=DBA-DERP;Database=erp;Initial Catalog=erp;Persist Security Info=True;User ID=erp;Password=eRp#1773;Application Name=LionExAPI_Employee" providerName="System.Data.SqlClient" />
	<add name="TKT" connectionString="Data Source=DBA-ERP2;Database=tkt;Initial Catalog=tkt;Persist Security Info=True;User ID=lionitTkt;Password=ittkt@hce;Application Name=LionExAPI_Employee" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
	
  </appSettings>
 
</configuration>